{% extends 'base.html' %}

{% block content %}

<div style="padding:30px; max-width:600px; margin:auto;">

    <h2>Checkout</h2>

    <hr>

    <h3>Order Summary</h3>

    {% for item in products %}
    <div style="display:flex; align-items:center; gap:15px; margin-bottom:10px;">
        <!-- IMAGE -->
         <img src="{{ item.product.image.url }}" width="70" height="70" style="object-fit:cover;">
         
         <!-- DETAILS -->
          
         <div>
            <p>{{ item.product.name }}</p>
            <p>₹ {{ item.product.price }} × {{ item.quantity }}</p>
        
        </div>
    
    </div>
    
    {% endfor %}

    <h3 style="color:green;">Total: ₹ {{ total }}</h3>

    <hr>

    <h3>Delivery Address</h3>

<form method="POST">
    {% csrf_token %}

    <!-- 👤 Name -->
    <input type="text" name="name" placeholder="Enter your name"
           style="width:100%; padding:10px;" required>

    <br><br>

    <!-- 📱 Phone -->
    <input type="text" name="phone" placeholder="Enter phone number"
           style="width:100%; padding:10px;" required>

    <br><br>

    <!-- 📍 Address -->
    <input type="text" name="address" placeholder="Enter full address" 
           style="width:100%; padding:10px;" required>

    <br><br>

    <button style="background:orange; padding:10px 20px; border:none;">
        Place Order
    </button>
</form>

</div>

{% endblock %}