{% extends 'base.html' %}

{% block content %}

<h2>Give Feedback</h2>

<form method="POST">
    {% csrf_token %}

    {% for item in items %}
        <div style="margin-bottom:20px; border-bottom:1px solid #ccc; padding-bottom:10px;">
            
            <h3>{{ item.product.name }}</h3>

            <label>Rating (1–5)</label><br>
            <input type="number" name="rating_{{ item.product.id }}" min="1" max="5"><br><br>

            <label>Message</label><br>
            <textarea name="message_{{ item.product.id }}"></textarea><br><br>

        </div>
    {% endfor %}

    <button type="submit">Submit Feedback</button>
</form>

{% endblock %}