{% extends 'base.html' %}

{% block content %}

<div style="text-align:center; margin-top:80px;">

    <h1 style="color:green;">🎉 Order Placed Successfully!</h1>

    <p style="margin-top:15px;">Thank you for shopping with us.</p>

    <a href="/">
        <button style="margin-top:20px; padding:12px 25px; 
               background:#ffa41c; color:black; 
               border:none; border-radius:5px; 
               font-weight:bold; cursor:pointer;">
            Continue Shopping
        </button>
    </a>
    <script>
    setTimeout(function(){
        window.location.href = "/";
    }, 3000);
    
    </script>

    <h2>Order Placed Successfully 🎉</h2>
    
    <a href="{% url 'feedback' order.id %}">
        Give Feedback
    </a>

</div>

{% endblock %}