{% extends 'base.html' %}

{% block content %}

<h2>My Wishlist ❤️</h2>

{% if items %}
    {% for item in items %}
        <div style="border:1px solid gray; padding:10px; margin:10px;">
            
            <h3>{{ item.product.name }}</h3>
            <p>₹ {{ item.product.price }}</p>

            <a href="{% url 'product_detail' item.product.id %}">
                View Product
            </a>

            <br><br>

            <a href="{% url 'remove_from_wishlist' item.product.id %}">
                ❌ Remove
            </a>

        </div>
    {% endfor %}
{% else %}
    <p>No items in wishlist</p>
{% endif %}

{% endblock %}